@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;

    // Default layout
    --default-layout-height-header: 60px;
    --default-layout-width: 1150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
