// Menu wrapper
.menu-list {
    width: 226px;

    // Menu item
    .menu-item {
        margin-left: 0;
    }
}
.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
}
.menu-item {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;
    font-weight: 600;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    font-size: 1.8rem;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Swicth */
.switch {
    position: relative;
    display: inline-flex;
    width: 44px;
    height: 24px;
    margin-left: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
        background-color: #0be09b;
    }

    &:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &.round {
        border-radius: 34px;
    }
    &.round:before {
        border-radius: 50%;
    }
    &:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
}
